<div class="fondo">
  <aside class="lateral">
    <h1 class="titulo">Trivia de Harry potter</h1>
    <p class="descripcion-juego">
      El juego consiste en adivinar que personaje es el que se esta mostrando,
      pueden ser tambien libro, capitulos y hasta posiciones de Harry Potter!
      <br />
      <strong>¿Cual sera tu record?</strong>
    </p>
  </aside>
  <div class="juego-potter">
    <div class="trivia">
      <h2 class="Sub-titulo">Intenta adivinar la trivia</h2>
      <h3 class="textos">Respuesta correctar seguidas : {{ adivinadas }}</h3>
      <h3 class="textos">Respuesta correctar seguidas Record : {{ record }}</h3>

      
      @if (gameOn) {
        <button class="harry-potter-button" (click)="back()" >
          ✨ Volver la Inicio ✨
        </button>
      
      <div class="juego">
        <h3>¿Podras adivinarme?</h3>
        <div class="card">
          <img
            src="{{ characterGame.image }}"
            alt="Imagen Harry Potter"
            class="card-image"
          />
          <div class="card-name">
            <p>Especie: {{ characterGame.species }}</p>
          </div>
        </div>
        <h2>OPCIONES</h2>
        <div class="options">
          @for (item of opciones; track $index) {
          <button class="magic-button btn-energy" (click)="pick(item)">
            {{ item }}</button
          >}
        </div>

        <div class="button-container">
          <div class="glow-effect"></div>
          @if (seleccion.length > 2) {
          <h4>Usted marco la opcion de {{ seleccion }}</h4>
          }
          <button type="submit" class="magic-button" (click)="empezarJuego()">
            Enviar
          </button>
        </div>
      </div>
      }@else {
        <button class="harry-potter-button" (click)="start()">
          ✨ Empezar juego ✨
        </button>
      }
    </div>
  </div>
</div>
