.lateral {
  width: 25%;
  height: 100%;
  font-family: 2rem;
  color: white;

  .sub-titulo {
    text-align: center;
    font-size: 3.2rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0%;
    margin: 0%;
  }
  li {
    font-size: 3rem;
    margin: 0%;
    padding: 0%;
    margin-top: 20px;
  }
}
.contenedor {
  display: flex;
  height: 100%;
  width: 100%;
}

.contenedorGames {
  height: 100%;
  width: 100%;
  background-color: rgba(54, 56, 55, 0.704);
  overflow: auto;
}

@media (max-width: 768px) {
  
  
  .lateral {
    display: none;
  }
}
