h1 {
  color: white;
  font-size: 4rem;
}

.contenedor {
  display: flex;
  flex-direction: row;

  width: auto;
  height: auto;
  overflow-y: scroll;
}

.contenedor-juegos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 1100px;
  padding: 15px;
  gap: 15px;
  overflow-y: scroll;
}

.jugar {
  color: white;
}

.jugar:hover {
  scale: 1.2;
  color: red;
}

.juego {
  display: flex;
  flex-direction: column;
  color: white;
  width: 250px;
  height: 250px;
  background-color: blue;
  font-size: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  
}

.juego:hover {
  background-color: green;
  cursor: pointer;
}

.imagen-juego {
  height: 150px;
  width: 250px;
}

.juego .juego-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  overflow: hidden;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
